body {
    height: 100vh;
    width: 100vw;
    background-color: #6082F9;
    margin: 0;
  }

  header {
      background-color: #34377B;
      width: 100vw;
      height: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      text-align: end;
  }
  
  

  h1 {
      color: #EABE3F;
      font-family: "Courier Prime", monospace;
      font-weight: 500;
      font-size: 15vh;
      font-style: normal;
      margin: 0;

    }

    .Menu1 {
      width: 15%;
      height: 5vw;
      display: flex;
      transform: translateY(350px);
      position: relative; 
      left: 20vw

    }
    .Menu2 {
        width: 15%;
        height: 5vw;
        transform: translateY(-60px);
        position: relative; 
        left: 20vw
        
    }
    .Menu3 {
        width: 15%;
        height: 5vw;
        transform: translateY(20px);
        position: relative; 
      left: 5vw
    }

    .Boton {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #707070; 
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      transform: translateY(-230px);
      position: relative; 
      left: 45vw
  }
  
  
  .power-icon {
      fill: rgb(0, 0, 0);
      width: 80px;
      height: 80px;
  }
    
  

  .Boton1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #707070; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateY(-190px);
    position: relative; 
    left: 45vw
}



.power-icon {
    fill: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
}

.Boton2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #707070; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-150px);
  position: relative; 
  left: 45vw
}



.power-icon {
  fill: rgb(0, 0, 0);
  width: 80px;
  height: 80px;
}

.Boton3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #707070; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-110px);
  position: relative; 
  left: 45vw
}


.power-icon {
  fill: rgb(0, 0, 0);
  width: 80px;
  height: 80px;
}

.input{
  width: 5%;
  height: 5vw;
  transform: translateY(-150px);
  position: relative; 
  left: 70vw
  
}

