body {
  height: 100vh;
  width: 100vw;
  background-color: #6082F9;
  margin: 0;
  padding: 0;
  
}

header {
    background-color: #34377B;
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    text-align: end;
}

main{
height: 80%;
}

h1 {
    color: #EABE3F;
    font-family: "Courier Prime", monospace;
    font-weight: 500;
    font-size: 15vh;
    font-style: normal;
    margin: 0;
  }

  .Menu1 {
    width: 200px;
    height: 5vw;
    margin-left: 5em;
    margin-bottom: -5px;
    transform: translateY(10px);
    position: relative;
    left: 0vw;
   
  }
  .Menu2 {
      width: 200px;
      height: 5vw;
      margin-left: 5em;
      transform: translateY(-140px);
    position: relative;
    left: 25vw;
  }
  .Menu3 {
      width: 200px;
      height: 5vw;
      margin-left: 5em;
      transform: translateY(-30px);
  }

  .Menu4 {
    width: 200px;
    height: 5vw;
    margin-left: 5em;
    transform: translateY(-110px);
    position: relative;
    left: 25vw;
  }

  .Menu5 {
    width: 200px;
    height: 5vw;
    margin-left: 5em;
    transform: translateY(-50px);
  }

  .Menu6 {
    width: 200px;
    height: 5vw;
    margin-left: 5em;
    transform: translateY(-125px);
    position: relative;
    left: 25vw;
    
  }

  .Menu7{
    width: 195px;
    height: 5vw;
    font-size: 20px;
    transform: translateY(30px);
    position: relative;
    left: 5.7vw;
  }
  .nav2{
    display: flex;
    width: 40%;
    height: 80%;
    
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .god{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.5vh;
    width: 50%;
    height: 100%;
    transform: translateY(-600px);
    position: relative;
    left: 52vw;
    margin-top: 90px;
    padding: -50px;
  }

  

  .switch{
    position: relative;
    display:inline-block;
    width: 85px;
    height: 50px;
    margin: 0 10px;
  }
  
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 34px;
  }
  
  .switch input {display:none}
  
  .slider:before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .2s;
    border-radius: 50px;
  
  }
  
  input:checked + .slider{
    background-color: turquoise;
  
  }
  
  input:checked + .slider:before{
    transform: translateX(35px);
    
  }




.color-picker{
position: relative;

}

.color-indicator{
display: inline-block;
width: 50px;
height: 200px;
background-color: #fff;
border-radius: 20px;
vertical-align: middle;
transform: translateY(-1030px);
position: relative;
left: 90vw;

}

#color-picker{
display:inline-block;
vertical-align: middle;
margin-left: 40px;
transform: translateY(-1030px);
position: relative;
left: 65vw;
}

.pedro{
width: 17vw;
height: 6vh;
font-size: 3vh;
transform: translateY(-670px);
position: relative; 
left: 72vw
}

.meme{
transform: translateY(-725px);
position: relative; 
left: 90vw
}

.t1{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-770px);
  position: relative;
  left: 55vw;
}
.t2{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-700px);
  position: relative;
  left: 55vw;
}

.t3{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-630px);
  position: relative;
  left: 53vw;
}

.t4{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-560px);
  position: relative;
  left: 52vw;
}

.aply{
  height: 70px;
  width: 250px;
  transform: translateY(-620px);
  position: relative;
  left: 64vw;
}

.input1{
  transform: translateY(-500px);
  position: relative;
  left: 54vw;
}

.input2{
  transform: translateY(-450px);
  position: relative;
  left: 54vw;
}

.input3{
  transform: translateY(-400px);
  position: relative;
  left: 54vw;
}

.input4{
  transform: translateY(-350px);
  position: relative;
  left: 54vw;
}