body {
    height: 100vh;
    width: 100vw;
    background-color: #6082F9;
    margin: 0;
  }

  header {
      background-color: #34377B;
      width: 100vw;
      height: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      text-align: end;
  }
  
  

  h1 {
      color: #EABE3F;
      font-family: "Courier Prime", monospace;
      font-weight: 500;
      font-size: 15vh;
      font-style: normal;
      margin: 0;

    }

    .Menu1 {
      width: 15%;
      height: 5vw;
      display: flex;
      transform: translateY(350px);
      position: relative; 
      left: 5vw

    }
    .Menu2 {
        width: 15%;
        height: 5vw;
        transform: translateY(-60px);
        position: relative; 
        left: 5vw
        
    }
    .Menu3 {
        width: 15%;
        height: 5vw;
        transform: translateY(20px);
        position: relative; 
      left: 5vw
    }

    .Menu4 {
      width: 15%;
      height: 5vw;
      display: flex;
      transform: translateY(-66px);
      position: relative; 
      left: 25vw
    }

    .Menu5 {
      width: 15%;
      height: 5vw;
      display: flex;
      transform: translateY(-308px);
      position: relative; 
      left: 25vw
    }

    .Menu6 {
      width: 15%;
      height: 5vw;
      display: flex;
      transform: translateY(-70px);
      position: relative; 
      left: 25vw
    }

    .Boton {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #707070; 
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
      transform: translateY(-490px);
      position: relative; 
      left: 53vw
  }
  
  
  .icon {
      fill: rgb(0, 0, 0);
      width: 80px;
      height: 80px;
  }
    
  

  .Boton1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #707070; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateY(-440px);
    position: relative; 
    left: 53vw
}



.icon {
    fill: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
}

.Boton2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #707070; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-390px);
  position: relative; 
  left: 53vw
}



.icon {
  fill: rgb(0, 0, 0);
  width: 80px;
  height: 80px;
}

.Boton3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #707070; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(-340px);
  position: relative; 
  left: 53vw
}


.icon {
  fill: rgb(0, 0, 0);
  width: 80px;
  height: 80px;
}

.input{
  width: 50px;
  height: 70px;
  transform: translateY(-370px);
  position: relative; 
  left: 75vw
  
  }

.t1{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-880px);
  position: relative;
  left: 52vw;
}
.t2{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-800px);
  position: relative;
  left: 52vw;
}

.t3{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-720px);
  position: relative;
  left: 51vw;
}

.t4{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  transform: translateY(-640px);
  position: relative;
  left: 50vw;
}

.color-picker{
  position: relative;

}

.color-indicator{
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  vertical-align: middle;

}

#color-picker{
  display:inline-block;
  vertical-align: middle;
  margin-left: 40px;
  transform: translateY(-950px);
  position: relative;
  left: 55vw;
}

