body {
  height: 100vh;
  width: 100vw;
  background-color: #6082F9;
  margin: 0;
  padding: 0;
  
}

header {
    background-color: #34377B;
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    text-align: end;
}

main{
height: 80%;
display: grid;
grid-template-columns:25% 25% 20% 30% ;
}


h1 {
    color: #EABE3F;
    font-family: "Courier Prime", monospace;
    font-weight: 500;
    font-size: 15vh;
    font-style: normal;
    margin: 0;
  }

  .Menu1 {
    width: 200px;
    height: 5vw;
    
    
   
  }
  .Menu2 {
      width: 200px;
      height: 5vw;
      
      
  }
  .Menu3 {
      width: 200px;
      height: 5vw;
      
  }
  .Menu4 {
    width: 200px;
    height: 5vw;
  ;
    
  }
  .Menu5 {
    width: 200px;
    height: 5vw;
      }
  .Menu6 {
    width: 200px;
    height: 5vw;
    
    
  }
  .Menu7{
    width: 195px;
    height: 3vw;
    font-size: 20px;
    
  }
  .Menu8{
    width: 195px;
    height: 3vw;
    font-size: 20px;
    
  }
  .Menu9{
    width: 195px;
    height: 3vw;
    font-size: 20px;
    
  }
  .Menu10{
    width: 195px;
    height: 3vw;
    font-size: 20px;
    margin: 0;
  }
  .Menu11{
    width: 195px;
    height: 3vw;
    font-size: 20px;
    
  }
  .Menu12{
    width: 195px;
    height: 3vw;
    font-size: 20px;
    
  }

  .BOX1{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    
    
  }

  .BOX2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
  }
  
  .COMBOS{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 130px;
    
  }
  
  .nav2{
    display: flex;
    width: 40%;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  

  

  .switch{
    position: relative;
    display:inline-block;
    width: 85px;
    height: 50px;
    margin: 0 10px;
  }
  
  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .2s;
    border-radius: 34px;
  }
  
  .switch input {display:none}
  
  .slider:before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: .2s;
    border-radius: 50px;
  
  }
  
  input:checked + .slider{
    background-color: turquoise;
  
  }
  
  input:checked + .slider:before{
    transform: translateX(35px);
    
  }




.color-picker{
position: relative;


}

.color-indicator{
display: inline-block;
width: 50px;
height: 200px;
background-color: #fff;
border-radius: 20px;
vertical-align: middle;
margin-left: -30px;


}

#color-picker{
display:inline-block;
vertical-align: middle;
margin-left: -40px;
padding: 50px;


}

.pedro{
width: 17vw;
height: 6vh;
font-size: 3vh;


}



.t1{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  
}
.t2{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
  
}

.t3{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
 
}

.t4{
  font-family: "Courier Prime", monospace;
  font-weight: 100;
 font-size: 3vh;
 
}

.aply{
  height: 70px;
  width: 250px;
  font-size: 30px;
  
}



.meme{
  position: relative;
  top:-65px;
  right:-245px;
}
.aply{
  position: relative;
  right: 65px;
  top: 50px;
}

div{
  padding: 0px;
}


.colores{
  position: relative;
  top: -35px;
  

}

.Botones{
  margin-top: -26px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

}

.Led{
  height: 90px;
}